@model CW2.Models.AnouncementDetailView

@Html.DisplayFor(model => model.Read.UserId.UserName)

<table class="tabele table-striped">
    @foreach(var item in Model.Read.UserId.UserName)
    {
        <tr>
            <td>@Html.DisplayFor(model => model.Read.UserId.UserName)</td>
        </tr>
    }

</table>
